<div class="row categories-index">
    
    <% @categories.each do |category| %>
            <div class="category-card col-sm-8 mx-auto">
                <%= link_to category, class:"category_name" do %><%= category.name %><% end %>
            </div>
    <% end %>
<div class="new-category col-sm-8 mx-auto">
    <%= link_to new_category_path do %><i class="fas fa-folder-plus"></i><% end %>
</div>
</div>