
<header class="navbar-all">
  <nav class="navbar navbar-expand-sm bg">
    <a class="navbar-brand" href="/">MyTrainingLog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>